@import url(./universal.css);

#header{
    height: 100px;
    background-color: #dbd9d4;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img{
    margin: 0 30px;
    width: 140px;
    cursor: pointer;
}

#header ul{
    display: flex;
    align-items: center;
    gap: 70px;
    list-style-type: none;
    margin: 0 50px;
    font-size: 18px;
    font-family: poppins-medium;
    height: 100%;
}

#header ul li {
    position: relative;
    cursor: pointer;
}

#header ul li::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #d6622c;
    transition: width 0.3s ease;
}

#header ul li:hover::before {
    width: 100%;
}

#header a{
    text-decoration: none;
    color: #393936;
}

#ampi-text-div{
    width: 100%;
    background-color: #fff;
}

#text{
    padding: 50px 40px;
    width: 60%;
}

#text h1{
    font-family: caveat-regular;
    font-size: 80px;
    color: #2c527b;
}

#text p{
    font-family: poppins-regular;
    margin: 20px 0;
    font-size: 18px;
}

#know-and-go{
    min-height: 100vh;
    width: 100%;
    background-color: #f3eee8;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
}

#go-text{
    width: 35%;
    height: 110vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    margin: 50px 0;
    padding: 0 50px;

}

#go-text strong{
    font-family: poppins-regular;
    color: #2c527b;
    font-size: 14px;
}

#go-text h2{
    font-family: poppins-regular;
    color: #2c527b;
    font-size: 35px;
    margin: 15px 0;
}

#go-text p{
    font-family: poppins-regular;
    font-size: 17px;
}

.go-images{
    width: 50%;
}

.map-image{
    height: 30vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0;
}

.map-image .image-1{
    height: 100%;
    width: 28%;
    overflow: hidden;
}

.map-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map-image-text{
    width: 70%;
    padding: 20px 30px;
    text-align: justify;
    font-family: poppins-regular;
}

.map-image-text h2{
    color: #2c527b;
}


#footer{
    height: 200px;
    background-color: #c9c3b4;
    display: flex;
    justify-content: space-between;
}

#rights-reserved{
    display: flex;
    width: 48%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 40px;
    color: black;
    font-size: 15px;
    font-family: poppins-regular;
}

#social-links{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 40px;
}

#social-links i{
    font-size: 30px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

#social-links i:hover{ 
    background-color: #fff;
    transform: scale(1.05);
}

#social-links a{
    text-decoration: none;
}

#whatsapp{
    color: #25D366;
    border: 3px solid #25D366;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#insta{
    color: #983ab4;
    border: 3px solid #983ab4;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#fb{
    color: #1877F2;
    border: 3px solid #1877F2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#yt{
    color: #FF0000;
    border: 3px solid #FF0000;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#mail{
    color:  #D93025;
    border: 3px solid #D93025;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}