@import url(./universal.css);

#video-div{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header{
    height: 100px;
    background-color: #dbd9d4;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img{
    margin: 0 30px;
    width: 140px;
    cursor: pointer;
}

#header ul{
    display: flex;
    align-items: center;
    gap: 70px;
    list-style-type: none;
    margin: 0 50px;
    font-size: 18px;
    font-family: poppins-medium;
    color: #393936;
    height: 100%;
}

#header ul li {
    position: relative;
    cursor: pointer;
}

#header ul li::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #d6622c;
    transition: width 0.3s ease;
}

#header ul li:hover::before {
    width: 100%;
}

#know-and-go{
    min-height: 100vh;
    width: 100%;
    background-color: #d55832;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
}

#go-text{
    width: 35%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#go-text p{
    text-transform: capitalize;
    color: white;
    font-family: ubunto-medium;
    font-size: 40px;
    font-weight: 500;
}

.go-images{
    width: 50%;
}

.map-image{
    height: 30vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    margin: 35px 0;
}

.map-image .image-1{
    height: 100%;
    width: 28%;
    overflow: hidden;
}

.map-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.map-image-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 40px;
    font-family: poppins-medium;
}

.map-image-text p{
    font-size: 20px;
    color: #393936;
}

.map-image-text a{
    text-decoration: none;
    color: #393936;
}

.arrow-div{
    cursor: pointer;
    margin: 10px 0;
}

.arrow-div .arrow{
    transition: transform 0.3s ease-in-out;
}

.arrow-div:hover .arrow{
    transform: translateX(5px);
}

.map-image-text i{
    margin: 0 5px;
}


#things-to-do{
    background-color: #2c527b;
    min-height: 100vh;
    padding: 100px 10px;
}

#things-to-do h2{
    text-align: center;
    font-size: 40px;
    font-family: ubunto-medium;
    color: #fff;
   padding-bottom: 40px;
}

#grid-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: poppins-regular;
}

#grid-images .content-with-images{
    width: 40%;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}

#grid-images img {
    width: 100%;
    height: auto;
}

#grid-images p{
    text-align: center;
    margin: 15px 0;
    color: #393936;
}

#grid-images h3{
    text-align: center;
    margin: 15px 0;
    color: #271351;
    font-size: 25px;
}

.arr-div{
    margin: 15px auto;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arr-div:hover .arrow{
    transform: translateX(5px);
}

.arr-div .arrow{
    transition: transform 0.3s ease-in-out;
    margin: 0 10px;
}

.arr-div a{
    text-decoration: none;
    color: #271351;
    font-weight: 500;
}

.arr-div i{
    color: #271351;
}

.arr-div:hover .arr-div a{
    text-decoration: underline;
}

#footer{
    height: 200px;
    background-color: #c9c3b4;
    display: flex;
    justify-content: space-between;
}

#rights-reserved{
    display: flex;
    width: 48%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 40px;
    color: black;
    font-size: 15px;
    font-family: poppins-regular;
}

#social-links{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 40px;
}

#social-links i{
    font-size: 30px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

#social-links i:hover{ 
    background-color: #fff;
    transform: scale(1.05);
}

#social-links a{
    text-decoration: none;
}

#whatsapp{
    color: #25D366;
    border: 3px solid #25D366;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#insta{
    color: #983ab4;
    border: 3px solid #983ab4;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#fb{
    color: #1877F2;
    border: 3px solid #1877F2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#yt{
    color: #FF0000;
    border: 3px solid #FF0000;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#mail{
    color:  #D93025;
    border: 3px solid #D93025;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}