@import url(./universal.css);

#header{
    height: 100px;
    background-color: #dbd9d4;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img{
    margin: 0 30px;
    width: 140px;
    cursor: pointer;
}

#header ul{
    display: flex;
    align-items: center;
    gap: 70px;
    list-style-type: none;
    margin: 0 50px;
    font-size: 18px;
    font-family: poppins-medium;
    color: #393936;
    height: 100%;
}

#header ul li {
    position: relative;
    cursor: pointer;
}

#header ul li::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #d6622c;
    transition: width 0.3s ease;
}

#header ul li:hover::before {
    width: 100%;
}

#header a{
    text-decoration: none;
    color: #393936;
}

.image{
    width: 100%;
    height: 100svh;
    background-image: url(../images/home-page/parking-hero.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
}

.image::after{
    content: " ";
    position: absolute;
    inset: 0;
    background-color: black;
    z-index: -1;
    opacity: 0.3;
}

#parking-location{
    height: 35vh;
    width: 100%;
    background-color: #2c527b;
    position: relative;
}

#parking-location-text{
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: #2c527b;
    top: -100px;
    left: 10%;
    padding-top: 50px;
}

#parking-location h1{
    text-align: center;
    font-family: caveat-regular;
    font-size: 90px;
    color: #fff;
}

#parking-location p{
    text-align: center;
    width: 60%;
    margin: 20px auto;
    font-size: 18px;
    font-family: poppins-regular;
    color: #fff;
}

#parking-lots{
    padding: 100px 20px;
}

#parking-lots-text{
    width: 60%;
    margin: 0 auto;
}

#parking-lots-text h2{
    font-family: ubunto-medium;
    font-size: 45px;
    color: #2c527b;
}

#parking-lots-text p{
    text-align: justify;
    font-size: 17px;
    margin: 20px 0;
    font-family: poppins-regular;
    color: #393936;
}

#personal-vehicle{
    min-height: 100vh;
    background-color: #dbd9d4;
    padding: 100px 20px;
}

#personal-vehicle h2{
    text-align: center;
    font-family: ubunto-medium;
    font-size: 45px;
    color: #2c527b;
}

#personal-vehicle b{
    display: block;
    text-align: center;
    font-size: 17px;
    margin: 20px 0;
    font-family: poppins-regular;
    color: #000;
}

#personal-vehicle > p{
    text-align: center;
    font-size: 17px;
    margin: 20px 0;
    font-family: poppins-regular;
    color: #000;
}

#personal-vehicle em{
    display: block;
    text-align: center;
    font-size: 17px;
    margin: 20px 0;
    font-family: poppins-regular;
    color: #000;
}

.prices-cont{
    width: 70%;
    background-color: #fff;
    margin: 60px auto 20px auto;
    padding: 40px;
    font-family: poppins-regular;
    position: relative;
}

.prices-cont .icons-div-1, .prices-cont .icons-div-2{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #000;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.prices-cont i{
    color: white;
    rotate: 90deg;
    transition: transform 0.3s ease;
}

.prices-cont > p{
    font-size: 22px;
    color: #2c527b;
    font-weight: bold;
}

.prices-cont .toggle-1, .prices-cont .toggle-2 {
    margin: 20px 0;
}

.prices-cont .toggle-1 > p, .prices-cont .toggle-2 > p{
    font-size: 17px;
    font-family: poppins-regular;
    color: #000;
    margin: 5px 0;
}


.hidden {
    display: none;
}

.prices-cont i.rotated {
    transform: rotate(-180deg);
}


#footer{
    height: 200px;
    background-color: #c9c3b4;
    display: flex;
    justify-content: space-between;
}

#rights-reserved{
    display: flex;
    width: 48%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 40px;
    color: black;
    font-size: 15px;
    font-family: poppins-regular;
}

#social-links{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 40px;
}

#social-links i{
    font-size: 30px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

#social-links i:hover{ 
    background-color: #fff;
    transform: scale(1.05);
}

#social-links a{
    text-decoration: none;
}

#whatsapp{
    color: #25D366;
    border: 3px solid #25D366;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#insta{
    color: #983ab4;
    border: 3px solid #983ab4;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#fb{
    color: #1877F2;
    border: 3px solid #1877F2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#yt{
    color: #FF0000;
    border: 3px solid #FF0000;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#mail{
    color:  #D93025;
    border: 3px solid #D93025;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}