@import url(./universal.css);

#header{
    height: 100px;
    background-color: #dbd9d4;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img{
    margin: 0 30px;
    width: 140px;
    cursor: pointer;
}

#header ul{
    display: flex;
    align-items: center;
    gap: 70px;
    list-style-type: none;
    margin: 0 50px;
    font-size: 18px;
    font-family: poppins-medium;
    color: #393936;
    height: 100%;
}

#header ul li {
    position: relative;
    cursor: pointer;
}

#header ul li::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #d6622c;
    transition: width 0.3s ease;
}

#header ul li:hover::before {
    width: 100%;
}

#header a{
    text-decoration: none;
    color: #393936;
}

.image{
    width: 100%;
    height: 100svh;
    background-image: url(../images/our-work/institute-of-medicine.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
}

.image::after{
    content: " ";
    position: absolute;
    inset: 0;
    background-color: black;
    z-index: -1;
    opacity: 0.3;
}

#medicine-div{
    height: 55vh;
    width: 100%;
    background-color: #fbf4f4;
    position: relative;
}

#text{
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: #fbf4f4;
    top: -100px;
    left: 10%;
    padding-top: 50px;
}

#medicine-div h1{
    text-align: center;
    font-family: caveat-regular;
    font-size: 90px;
    color: #fff;
    color: #304c76;
}

#medicine-div p{
    text-align: center;
    width: 90%;
    margin: 20px auto;
    font-size: 18px;
    font-family: poppins-regular;
    color: #000;
}

#medicine{
    padding: 100px 20px;
    width: 70%;
    margin: 0 auto;
    font-family: poppins-regular;
}

#medicine h2{
    font-size: 35px;
    color: #304c76;
}

#medicine p{
    margin: 20px 0;
    text-align: justify;
    font-size: 18px;
    color: #393936;
}

#footer{
    height: 200px;
    background-color: #c9c3b4;
    display: flex;
    justify-content: space-between;
}

#rights-reserved{
    display: flex;
    width: 48%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 40px;
    color: black;
    font-size: 15px;
    font-family: poppins-regular;
}

#social-links{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 40px;
}

#social-links i{
    font-size: 30px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

#social-links i:hover{ 
    background-color: #fff;
    transform: scale(1.05);
}

#social-links a{
    text-decoration: none;
}

#whatsapp{
    color: #25D366;
    border: 3px solid #25D366;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#insta{
    color: #983ab4;
    border: 3px solid #983ab4;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#fb{
    color: #1877F2;
    border: 3px solid #1877F2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#yt{
    color: #FF0000;
    border: 3px solid #FF0000;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#mail{
    color:  #D93025;
    border: 3px solid #D93025;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}